@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-blue-300;
  background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.dotted {
  background-image: radial-gradient(#166534 1px, transparent 0);
  background-size: 6px 6px;
}
